body {
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 1em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #814343;
    background-color: #cada3d
}

h2 {
    padding-top: 1em;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
}

h3 {
    padding-top: 1em;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
}

a:link {
    color: #00f
}

a:visited {
    color: purple
}

a:hover {
    color: #00ff7f
}

a:active {
    color: salmon
}

p {
    line-height: 1.5
}

